* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist', sans-serif;
}

a {
    text-decoration: none;
    color: #1A1B1B;
}

header {
    width: 100%;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 44px;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-logo {
    display: flex;
    align-items: center;
    gap: 24px;
}

.burger-menu {
    display: flex;
    padding: 18px 16px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #006CE5;
    border: none;
    position: relative;
}

.site-logo {
    width: 103px;
    height: 29px;
}

.burger-menu-image {
    position: absolute;
    top: 5px;
    left: 4px;
    right: 4px;
}

.header-live-tv {
    display: flex;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-left: 1px solid #D4D4D4;
    margin-right: 8px;
}

.header-live-image {
    width: 28px;
    height: 28px;
    margin-left: 8px;
}

.header-live-text {
    color: #ED0E05;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.header-navigation-list {
    display: none;
}

main {
    margin-left: 8px;
    margin-right: 8px;
}

.start-news {
    position: relative;
    padding-bottom: 5px;
}

.start-news::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #D4D4D4;
    position: absolute;
    bottom: 0px;

}



.list-1-content-1 {
    position: relative;
}

.list-1-content-1::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #D4D4D4;
    position: absolute;
    bottom: -10px;
}

.list-1-content-2 {
    position: relative;
}

.list-1-content-2::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #D4D4D4;
    position: absolute;
    bottom: -10px;
}

.list-1-content-3 {
    position: relative;
}

.list-1-content-3::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #D4D4D4;
    position: absolute;
    bottom: -20px;
}



.topic {
    font-size: 17px;
    font-weight: 400;
}

.warsaw {
    max-height: 80px;
    margin-top: 12px;
    font-size: 54px;
    font-weight: 600;
}

.police {
    display: flex;
    width: 359px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 32px;
}

.image-container {
    width: 100%;
    height: 416px;
    margin-top: 20px;
    background: url("./image 1 (1).png") no-repeat center center;
    background-size: cover;
    position: relative;
}

.poland-1 {
    display: flex;
    width: 81px;
    padding: 10px 20px 10px 0px;
    align-items: flex-start;
    gap: 10px;
    background: #FFF;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    bottom: -2px;
    left: -1px;

}

.situation-police {
    font-size: 24px;
    font-weight: 800;
}

ul {
    display: flex;
    flex-direction: column;
}

.list-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 65px;
}

.list-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

li {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
}

.text-wrapper {
    margin-top: 4px;
}

.text-wrapper-2 {
    margin-top: 12px;
}

.text-mane-1 {
    display: flex;
    padding: 10px 20px 10px 0px;
    align-items: flex-start;
    background: #FFF;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.text-mane-2 {
    display: flex;
    padding: 6px 20px 6px 0px;
    align-items: flex-start;
    background: #FFF;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.theme-question {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.date {
    font-size: 14px;
    font-weight: 200;
    margin-top: 10px;
}

h2 {
    font-size: 34px;
    font-weight: 800;
    margin-bottom: 32px;
}

.text-list-1 {
    font-size: 18px;
    font-weight: 700;
}

.image-play-container {
    position: relative;
}

.play {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.image {
    width: 100%;
}

.pages {
    display: flex;
    flex-direction: row;
    width: 375px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 32px;
}

.first-page {
    display: flex;
    width: 37px;
    height: 37px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 500px;
    border: 1px solid #D4D4D4;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
}

.page {
    display: flex;
    width: 37px;
    height: 37px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 500px;
    border: 1px solid #D4D4D4;
    color: #006CE5;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
}

.next {
    display: none;
}

.more {
    display: flex;
    align-items: center;
    width: 4.5px;
    stroke-width: 1px;
    color: #006CE5;
}

.prelast {
    width: 100%;
    height: 274px;
    flex-shrink: 0;
    border-top: 3px solid #D4D4D4;
    background: #EEF2F3;
    margin-bottom: 32px;
}

.prelast-content-container {
    margin: 44px 7px 44px 8px;
}

.searching {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 44px;
}

.search-btn {
    display: flex;
    width: 306px;
    justify-content: space-between;
    align-items: center;
    background: #DCE4E7;
    gap: 32px;
}

.button {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    background: #006CE5;
    border: none;
}

.search {
    color: #919191;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.prelast-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.browse-tags {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    gap: 16px;
}


.prelast-news {
    display: flex;
    width: 360px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
}

.prelast-news-1 {
    display: flex;
    padding: 8px 16px;
    border-radius: 800px;
    background: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.footer-logo {
    width: 154px;
    height: 42px;
    margin-left: 20px;
}

.last {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 32px 91px 24px 91px;
}





@media (min-width: 768px) {

    header {
        margin-bottom: 32px;
    }

    .site-logo {
        width: 114px;
        height: 32px;
    }

    .header-live-tv {
        margin-right: 12px;
    }

    main {
        margin-left: 12px;
        margin-right: 12px;
    }

    .topic {
        font-size: 22px;
        font-weight: 400;
    }

    .warsaw {
        margin-top: 4px;
        font-size: 62px;
    }

    .police {
        width: 100%;
        height: 416px;
        flex-shrink: 0;
    }

    .situation-police {
        font-size: 28px;
        margin-bottom: 0px;
    }

    h2 {
        font-size: 42px;
        font-weight: 800;
        margin-bottom: 0;
    }

    .image {
        width: 296px;
        height: 166px;
        flex-shrink: 0;
    }


    .list-1-content-1 {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .list-1-content-2 {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .list-1-content-3 {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .list-2-content {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .pages {
        width: 100%;
    }

    .next {
        display: flex;
        color: #006CE5;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
    }

    .prelast-news {
        width: 80%;
    }

    .footer-logo {
        width: 196px;
        height: 54px;
        margin-left: 2px;
    }
}

@media (min-width:1368px) {
    .burger-menu {
        display: none;
    }

    header {
        display: flex;
        padding: 14px 36px;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    .header-navigation-list {
        display: flex;
        align-items: flex-start;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }

    .header-navigation-list ul {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }

    main {
        margin-left: 36px;
        margin-right: 36px;
    }

    .image-container {
        width: 746px;
        height: 418px;
        flex-shrink: 0;
        margin-top: 25px;
    }

    .police {
        width: 746px;
    }

    .list-1 {
        margin-bottom: 0;
    }

    .list-1 .image {
        width: 196px;
        height: 110px;
        flex-shrink: 0;
    }

    .first-news {
        display: flex;
        gap: 24px;
        margin-bottom: 36px;
    }

    .list-1-content-3::after {
        display: none;
    }

    .second-news {
        display: flex;
        position: relative;
    }

    .second-news::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #D4D4D4;
        position: absolute;
        top: -13px;
    }

    .second-news h2 {
        margin-top: 16px;
        margin-right: 40px;
    }

    .text-wrapper-2 {
        display: flex;
        flex-direction: column;
        margin-top: 28px;
    }

    .list-2 {
        display: flex;
        width: 65%;
    }

    .list-2 .image {
        width: 306px;
        height: 172px;
        flex-shrink: 0;
    }

    .prelast-news {
        width: 550px;
    }
}